<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow p-4" style="width: 500px;">
      <h2 class="text-center mb-4">Crear cuenta</h2>
      <p class="text-center text-muted mb-3">💃 ¡Un paso más cerca de la pista perfecta! 🕺</p>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <div class="mb-3">
          <label for="role" class="form-label">Rol</label>
          <select
            id="role"
            formControlName="role"
            class="form-select"
            [ngClass]="{'is-invalid': registerForm.get('role')?.invalid && registerForm.get('role')?.touched}"
          >
            <option value="">Selecciona un rol</option>
            <option value="BAILARIN">Bailarin</option>
            <option value="ORGANIZADOR">Organizador</option>
          </select>
          <div *ngIf="registerForm.get('role')?.invalid && registerForm.get('role')?.touched" class="invalid-feedback">
            El rol es obligatorio.
          </div>
        </div>

        <div *ngIf="registerForm.get('role')?.value === 'ORGANIZADOR'" class="form-check mb-3">
        <input
          type="checkbox"
          class="form-check-input"
          id="isAcademy"
          (change)="onAcademyToggle($event)"
        />
        <label class="form-check-label" for="isAcademy">¿Es una academia o empresa?</label>
      </div>

        <div class="mb-3">
          <label for="fullName" class="form-label">Nombre completo</label>
          <input
            id="fullName"
            formControlName="fullName"
            type="text"
            class="form-control"
            [ngClass]="{'is-invalid': registerForm.get('fullName')?.invalid && registerForm.get('fullName')?.touched}"
          />
          <div *ngIf="registerForm.get('fullName')?.invalid && registerForm.get('fullName')?.touched" class="invalid-feedback">
            El nombre es obligatorio.
          </div>
        </div>
  
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            id="email"
            formControlName="email"
            type="email"
            class="form-control"
            [ngClass]="{'is-invalid': registerForm.get('email')?.invalid && registerForm.get('email')?.touched}"
          />
          <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="invalid-feedback">
            Email inválido.
          </div>
        </div>
  
        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <input
            id="password"
            formControlName="password"
            type="password"
            class="form-control"
            [ngClass]="{'is-invalid': registerForm.get('password')?.invalid && registerForm.get('password')?.touched}"
          />
          <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="invalid-feedback">
            La contraseña es obligatoria.
          </div>
        </div>
  
        <!-- Género (solo si NO es academia y NO es organizador que marcó academia) -->
        <div class="mb-3" *ngIf="!isOrganizerAndAcademy">
          <label for="gender" class="form-label">Género</label>
          <select
            id="gender"
            formControlName="gender"
            class="form-select"
            [ngClass]="{
              'is-invalid': registerForm.get('gender')?.invalid &&
                            registerForm.get('gender')?.touched
            }"
          >
            <option value="" disabled>Selecciona tu género</option>
            <option value="MASCULINO">Masculino</option>
            <option value="FEMENINO">Femenino</option>
            <option value="OTRO">Otro</option>
          </select>
          <div
            *ngIf="registerForm.get('gender')?.invalid &&
                  registerForm.get('gender')?.touched"
            class="invalid-feedback"
          >
            El género es obligatorio.
          </div>
        </div>
  
        <!-- Fecha de nacimiento (solo si NO es academia y NO es organizador que marcó academia) -->
        <div class="mb-3" *ngIf="!isOrganizerAndAcademy">
          <label for="birthdate" class="form-label">Fecha de nacimiento</label>
          <input
            id="birthdate"
            formControlName="birthdate"
            type="date"
            class="form-control"
            [ngClass]="{
              'is-invalid': registerForm.get('birthdate')?.invalid &&
                            registerForm.get('birthdate')?.touched
            }"
          />
          <div
            *ngIf="registerForm.get('birthdate')?.invalid &&
                  registerForm.get('birthdate')?.touched"
            class="invalid-feedback"
          >
            La fecha de nacimiento es obligatoria.
          </div>
        </div>

  
        <div class="mb-3">
        <label for="countryId" class="form-label">País</label>
        <select
          id="countryId"
          formControlName="countryId"
          class="form-select"
          (change)="onCountryChange()"
          [ngClass]="{'is-invalid': registerForm.get('countryId')?.invalid && registerForm.get('countryId')?.touched}"
        >
          <option value="">Selecciona un país</option>
          <option *ngFor="let country of countries" [value]="country.id">
            {{ country.name }}
          </option>
        </select>
        <div *ngIf="registerForm.get('countryId')?.invalid && registerForm.get('countryId')?.touched" class="invalid-feedback">
          El país es obligatorio.
        </div>
      </div>

      <div class="mb-3">
        <label for="cityId" class="form-label">Ciudad</label>
        <select
          id="cityId"
          formControlName="cityId"
          class="form-select"
          [disabled]="!cities.length"
          [ngClass]="{'is-invalid': registerForm.get('cityId')?.invalid && registerForm.get('cityId')?.touched}"
        >
          <option value="">Selecciona una ciudad</option>
          <option *ngFor="let city of cities" [value]="city.id">
            {{ city.name }}
          </option>
        </select>
        <div *ngIf="registerForm.get('cityId')?.invalid && registerForm.get('cityId')?.touched" class="invalid-feedback">
          La ciudad es obligatoria.
        </div>
      </div>
      
      <!-- Campo oculto con valor fijo -->
      <input type="hidden" formControlName="subscriptionType" />

  
        <button type="submit" class="btn btn-success w-100">
          Registrarse
        </button>
  
        <div *ngIf="errorMessage" class="alert alert-danger mt-3" role="alert">
          {{ errorMessage }}
        </div>
  
        <div class="text-center mt-3">
          <span>¿Ya tienes cuenta?</span>
          <a routerLink="/login" class="text-decoration-none ms-1">Inicia sesión</a>
        </div>
      </form>
    </div>
  </div>